<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>aerpoints</name>
	<displayName><![CDATA[AerPoints]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[AerPoints module for Promotion]]></description>
	<author><![CDATA[AerDigital]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
